/* html, body {
  position: fixed;
} */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

/* puts canvas fixed to bottom */
canvas {
  vertical-align: bottom;
}

body {
  font-family: september, sans-serif;
  background-color: #fff;
  color: #0b0b0b;
  height: 4000px;
  -ms-overflow-style: none;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
  -ms-overflow-style: none;
}

.news {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
  transform: translateY(100vh);
  transition: transform 0.5s ease-in;
  background-color: black;
}

.news.news-display {
  transform: translateY(0vh);
}

.remove {
  display: none;
}


.news-story {
  max-width: 70%;
  /* transform: translateY(25%); */
}

.news-spacer {
  width: 100%;
  margin-bottom: 10%;
}


.news-title, .post-title {
  margin-bottom: 12px;
}

.news-content, .news-date {
  font-size: 1.75vw;
}

.news-date {
  opacity: .6;
  padding: 6px;
}

.news-title {
  font-size: 3vw;
  padding-top: 36px;
}

.main-content {
  padding: 12px 0 36px 0;
  border-bottom: 1px #a27dff solid;
  font-size: 2vw;
}

.news-thumbnail {
  font-size: 0;
}

.news img {
  max-width: 40%
}

header {
  position: fixed;
  top: 32px;
  text-align: center;
  width: 100%;
  z-index: 5;
}

div.header-wrap a {
  margin: 0 16px 4px 16px;
  font-size: 30px;
  color: #A27DFF;
  font-family: september, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: capitalize;
}

section {
  position: fixed;
  z-index: 4;
}

.contact-button, .news-button {
  cursor: pointer;
}

.star {
  cursor: default;
}

.submit {
  cursor: pointer;
}
.star_1 img {
  width: 15%;
  position: fixed;
  z-index: 5;
  display: flex;
  top: 20%;
  left: 3%;
}

.star_2 img {
  width: 30%;
  position: fixed;
  z-index: 5;
  display: flex;
  top: 50%;
  right: 1%;
}

.star_3 img {
  width: 15%;
  position: fixed;
  z-index: 5;
  display: flex;
  top: 10%;
  right: 1%;
}

.star_4 img {
  width: 30%;
  position: fixed;
  z-index: 5;
  display: flex;
  top: -5%;
  left: 0%;
}

.star_5 img {
  width: 5%;
  position: fixed;
  z-index: 5;
  display: flex;
  top: 10%;
  right: 1%;
}

.star_6 img {
  width: 10%;
  position: fixed;
  z-index: 5;
  display: flex;
  bottom: 10%;
  right: 30%;
}

.star_7 img {
  width: 10%;
  position: fixed;
  z-index: 5;
  display: flex;
  bottom: 10%;
  left: 0%;
}

.maisie-logo {
  position: absolute;
  color: #FFF;
  font-family: september, sans-serif;
  font-size: 128px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  top: 50%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  width: 100%;
}

.contact-pop {
  position: fixed;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.contact-pop.display, .maisie-logo.display {
  opacity: 1;
}

.contact-pop.display {
  display: flex;
}

.contact-pop p {
  font-size: 24px;
  color: black;
  text-align: center;
}

.email {
  font-size: 32px;
}

.sign-up {
  display: flex;
  border-bottom: solid 1.5px #A27DFF;
  justify-content: center;
}

input {
  border: none;
  background: none;
  font-size: 24px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.email-input {
  /* makes the elements stretch out to fill up flex box */
  flex: 1;
}

.inquiries {
  font-size: 18px;
}

.underline {
  border-bottom: 3px solid #A27DFF;
}

.social-icons svg {
  width: 24px;
  fill: #A27DFF;
  margin: 0 8px;
}

.social-icons {
  position: fixed;
  bottom: 16px;
  width: 100%;
  text-align: center;
  z-index: 5;
}

a {
  text-decoration: none;
}

.brandon-portfolio {
  text-decoration: underline;
  color: #0b0b0b;
}

@media (max-width: 680px) {
  .maisie-logo {
    font-size: 90px;
  }
}

@media (max-width: 450px) {
  .maisie-logo {
    font-size: 64px;
  }

  .brandon-portfolio-wrap {
    font-size: 8px;
  }

  div.header-wrap a {
    font-size: 24px;
  }

  .contact-pop p {
    font-size: 16px;
  }

  .contact-pop h2 {
    font-size: 24px;
  }

  .contact-pop {
    height: 35%;
  }

  .sign-up {
    flex-direction: column;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .sign-up input {
    text-align: center;
    font-size: 16px;
  }

  .sign-up .email-input {
    border: solid 1.5px #A27DFF;
    margin: 8px;
  }
}

@media (max-width: 320px) {
  .maisie-logo {
    font-size: 56px;
  }

  div.header-wrap a {
    font-size: 20px;
  }

}
